html{
  min-height: 100vh;
  color: white;
  background-color: rgb(2, 32, 15);
  /* overflow-x: ; */
}

.errorLabel{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.backgroundNavbar{
  background-color: rgb(2, 48, 21);
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.navbarPhoto{
  width: 3rem;
  height: auto;
  margin-right: 1rem;
  border-radius: 100%;
  margin-top: auto;
  border: .1rem solid white;
}

.containerNavbar{
  display: flex;
  margin: 0 2rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  padding: .2rem;
  z-index: 1000;
}

.textNavbar{
  margin-top: 0px;
  color: white;
}

.activeLink{
  color: wheat;
  text-shadow: 0px 0px 20px white;
  margin-top: 0px;
  font-weight: bold;
}

.socialMediaPhoto{
  width: 2.4rem;
  height: auto;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.photoMain{
  width: 13rem;
  height: auto;
  border: .3rem solid white;
  border-radius: 100%;
}

.projectToShow{
  width: 60%;
}

.technologys{
  background-color: antiquewhite;
  padding: .3rem .8rem;
  color: black;
  border-radius: 2rem;
}

.btn-something{
  background-color: rgb(159, 248, 171);
}

.btn-something:hover{
  background-color: white;
  color: black;
  scale: 1.1;
}

.technologysContainer{
  flex-wrap: wrap;
}

.imageProject{
  width: 100%;
}

.imageProject:hover{
  transition-duration: 200ms;
  scale: 1.05;
}